body {
    font-family: "wf_segoe-ui", "Segoe UI", "Lucida Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-link.active button.btn {
    color: #2270ee;
    border: solid 1px #2270ee;
    background-color: transparent;
    font-size: 14px;
}

.nav-link button.btn {
    color: #000;
    background-color: transparent;
    font-size: 14px;
}

.fontSize12 {
    font-size: 12px;
}

.fontSize26 {
    font-size: 26px;
}

.chartBackground {
    background-color: #eee;
}

.chartBackground rect {
    fill: #eee;
    /* fill: rgb(35, 39, 80); */
}

.chartBackground text{
    fill: #000;
}