.RevenueTitle {
    font-size: 16px;
    font-weight: 700;
}

.RevenueFooter {
    font-size: 12px;
    font-weight: 600;
    color: #606162;
}

.RevenueFooterVal {
    font-size: 26px;
    font-weight: 700;
    color: #141414;
}